.my-layout {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  overflow: hidden;
  padding: 0px 8px 8px 8px;
  display: flex;
  flex-direction: column;
}
.my-fill {
  display: flex;
  flex-direction: column;
  flex: 1;

  .el-card__body {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;
  }

  .el-table {
    flex: 1;
  }
}
.my-query-box {
  .el-card__body {
    padding: 10px 0px 0px 10px;
  }
  .el-form .el-col {
    margin-bottom: 0px;
  }
  .el-form-item {
    margin-bottom: 10px !important;
  }
  .el-form-item__label-wrap {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .el-form--inline .el-form-item {
    margin-right: 10px;
  }
  .el-form.el-form--inline {
    .el-form-item--default.el-form-item:last-of-type,
    .el-form-item--small.el-form-item:last-of-type {
      margin-bottom: 10px !important;
    }
  }
}
